/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d4af7a;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Navigation bar styles */
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #d4af7a;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Centered image styles */
.about-image-container {
    text-align: center;
}

.about-image {
    max-width: 75%;
    height: auto;
    display: inline-block;
    text-align: center;
}

.about-image-wrapper {
    text-align: center;
}

.vision-image-container {
    text-align: center;
}

.vision-image {
    max-width: 75%;
    height: auto;
    display: inline-block;
    text-align: center;
}

.vision-image-wrapper {
    text-align: center;
}