* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: flex .4s ease;
  position: relative;
}

.section .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: background-color .8s ease;
}

.section .content {
  z-index: 2;
  text-align: center;
}

.section:hover {
  flex: 2;
}

.section:hover .overlay {
  background-color: rgba(0, 0, 0, 0.95);
}

#profile {
  background-image: url("/images/About_StockImage.jpeg");
}


#future {
  background-image: url("/images/Mission_StockImage.jpeg");
}


#medication {
  background-image: url("/images/Medication_StockImage.jpeg");
}


#benefits {
  background-image: url("/images/Benefits_StockImage.jpeg");
}


#pet {
  background-image: url("/images/About_StockImage5.jpeg");
}


#contact {
  background-image: url("/images/Contact_StockImage.jpeg");
}

/* Navbar Styling */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #010101;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.navbar {
  height: 90px;
  color: white;
  background-color: hsl(0, 0%, 10%);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo i {
  color: #0aa5ff;
  font-size: 25px;
}

.navbar .logo a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 12px 12px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-links {
  display: flex;
  gap: 24px;
  border-right: 1px solid white;
  padding-inline: 24px;
}

.navbar .menu-links a {
  font-weight: 500;
  color: white;
  padding: 8px 16px;
}

.navbar .menu-links a:hover {
  color: white;
}

.navbar .menu-links a:visited {
  color: white;
}

.log-in {
  font-weight: 500;
  padding: 12px 22px;
  background-color: transparent;
  color: #999999;
  border-radius: 10px;
  border: 2px solid #0aa5ff;
  transition: 0.2s;
}

.log-in:hover {
  background-color: #0aa5ff;
  color: white;
}

.menu-btn {
  font-size: 32px;
  color: white;
  display: none;
  cursor: pointer;
}

@media (max-width: 53rem) {
  .menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

/* Footer Styling */
.footer {
  height: 45px;
  background-color: hsl(0, 0%, 10%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .logo {
  display: flex;
  gap: 12px;
}

.footer .logo i {
  color: #0aa5ff;
  font-size: 25px;
}

.footer .copyright {
  font-size: 14px;
  margin-top: 10px;
}