<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>PET-ME: About</title>
</head>

<body>
    <header>
        <h1>About</h1>
    </header>

    <nav>
        <div class="navbar">
          <h1>Menu</h1>
          <div class="container nav-container">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
            <div class="logo">
            </div>
            <div class="menu-items">
              <li><a href="/about">About</a></li>
              <li><a href="/vision">Vision</a></li>
              <li><a href="#">blogs</a></li>
              <li><a href="#">contact</a></li>
              <li><a href="/register">Login / Register</a></li>
            </div>
          </div>
        </div>
      </nav>
    <div class="cont">
    <div class="about-image-container">
        <img src="/../images/About_StockImage1.jpg" class="about-image" alt="About Image">
    </div>

    <main>
        <h2>Our Story</h2>
        <p>The founder of PET-ME is a volunteer at the <a href="https://www.nycacc.org" target="_blank">NYC's Animal Care Centers</a> 
            where he started as a dog walker, adoption councelor, and outreach advocate. In 2020, when COVID-19 affected opperations at 
            the shelter, volunteers where not allowed to be in the premises to assist. He then started fostering and that was how he 
            ended up adopting his pitbull dog, <a href="https://www.instagram.com/theFrizziest/" target="_blank">Miss Frizzle</a> (named 
            after the cartoon "The Magic School Bus").</p>

        <p>Once the pandemic was slightly under control and vaccines where more widely available, Kenny wanted to be closer to the community
            and assist in the areas most affected. He then switched roles to be an animal handler for the shelter's mobile vaccination clinics. 
            An animal handler is the person who restrains the animal while the veterinary doctor administers the vaccines to the pet. This
            is to ensure that the animal does not attach nor bite any personnel during the vaccination. </p>

        <p>Surprisingly, he noticed that many of the pets would miss their annual (or bi-annual in some cases) vaccines. *Et voila* Why not 
            create something that will help pet pawrents track and remind them of their pet's vaccines and medications? I mean... Us humans 
            have Apple Health. So why not create the "Apple Health" equivalent for pets?</p>

        <h2>Our Mission</h2>
        <p>Our mission is simple: simplify pet pawrenthood. Our lives are already busy and often hectic. Let PET-ME help you manage your pet's
            health. With PET-ME, you will be able to update your pet's health records and it will automatically set a reminder for when 
            you should schedule your pet's next vet appointment. You can also learn about what the medication that was administered would
            help prevent and what kind of possible side-effects to be in the look out for.</p>
    </main>
    </div>
    <footer>
        <p>&copy; 2023 Kenny Cheng-Fung. All rights reserved.</p>
    </footer>
</body>

</html>
