<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET-ME: Messages</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="secondary.css">

    <script src="https://kit.fontawesome.com/5e7463fc0b.js" crossorigin="anonymous"></script>
</head>

<body class="message-body">
    <div class="page-wrapper">
        <header class="navbar">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <a href="/"> PET-ME </a>
                <i class="fa-solid fa-shield-cat"></i>
            </div>
            <div class="menu">
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <a href="/benefits">Benefits</a>
                <a href="/mission">Mission</a>
                <a href="/contact">Contact</a>
                <a href="" id="dashboardLink"></a>
            </div>
            <button class="log-in" id="loginButton"><a href="">Button</a></button>
        </header>

        <section class="content">
            <div class="content-box">
                <h1>Messages</h1>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Message</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="message : ${messages}">
                            <td>[[${message.id}]]</td>
                            <td>[[${message.date}]]</td>
                            <td>[[${message.Name}]]</td>
                            <td>[[${message.Email}]]</td>
                            <td>[[${message.message}]]</td>
                            <td>
                                <form th:action="@{/admin/deleteMessage}" th:method="post">
                                    <input type="hidden" th:name="messageId" th:value="${contact_form.id}" />
                                    <button type="submit" class="submit">Delete Message</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <div class="copyright">
                    &copy; Kenny Cheng-Fung. All rights reserved.
                </div>
                <i class="fa-solid fa-shield-cat"></i>
            </div>

        </div>
    </footer>

    <script src="button_switch.js"></script>
</body>

</html>