<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET-ME: Contact</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="secondary.css">
    <link rel="stylesheet" href="@sweetalert2/theme-bootstrap-4/bootstrap-4.css">

<script src="sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="https://kit.fontawesome.com/5e7463fc0b.js" crossorigin="anonymous"></script>
</head>

<body class="contact-body">
    <div class="page-wrapper">
        <header class="navbar">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <a href="/"> PET-ME </a>
                <i class="fa-solid fa-shield-cat"></i>
            </div>
            <div class="menu">
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <a href="/benefits">Benefits</a>
                <a href="/mission">Mission</a>
                <a href="/contact">Contact</a>
                <a href="" id="dashboardLink"></a>
            </div>
            <button class="log-in" id="loginButton"><a href="">Button</a></button>
        </header>

        <section class="content">
            <div class="content-box">
                <h1>Contact Us</h1>
                <div class="form">
                    <form th:action="@{/contact}" th:object="${contactForm}" method="post">

                        <label for="name"><b>Name:</b></label>
                        <input type="text" th:field="*{name}" name="name" class="required" required>

                        <label for="email"><b>Email:</b></label>
                        <input type="text" th:field="*{email}" name="email" class="required" required>

                        <label for="message"><b>Message:</b></label>
                        <textarea th:field="*{message}" name="message" class="required" required></textarea>

                        <button type="submit" class="submit">Send <i class="fa-solid fa-paper-plane"></i></button>
                        <div th:if="${param.formSubmitted != null}" class="message-success">
                            <p th:text="${flash.formSubmitted}"> <i class="fa-solid fa-envelope-circle-check"></i></p>
                          </div>
                    </form>
                    Swal.fire("SweetAlert2 is working!");
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <div class="copyright">
                    &copy; Kenny Cheng-Fung. All rights reserved.
                </div>
                <i class="fa-solid fa-shield-cat"></i>
            </div>

        </div>
    </footer>

    <script src="button_switch.js"></script>
</body>

</html>