<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET-ME: Medication</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/../../secondary.css">

    <script src="https://kit.fontawesome.com/5e7463fc0b.js" crossorigin="anonymous"></script>
</head>

<body class="medication-body">
    <div class="page-wrapper">
        <header class="navbar">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <a href="/"> PET-ME </a>
                <i class="fa-solid fa-shield-cat"></i>
            </div>
            <div class="menu">
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <a href="/benefits">Benefits</a>
                <a href="/mission">Mission</a>
                <a href="/contact">Contact</a>
                <a href="" id="dashboardLink"></a>
            </div>
            <button class="log-in" id="loginButton"><a href="">Button</a></button>
        </header>

        <section class="content">
            <div class="content-box">
                <h1>Your Pet's Medications</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Illness</th>
                            <th>Description</th>
                            <th>Side Effects</th>
                            <th>Medication Administered on</th>
                            <th>Medication Due on</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span th:text="${medication.illness}"></span></td>
                            <td><span th:text="${medication.description}"></span></td>
                            <td><span th:text="${medication.sideEffects}"></span></td>
                            <td><span th:text="${medication.medicationGiven}"></span></td>
                            <td><span th:text="${medication.medicationDue}"></span></td>
                        </tr>
                    </tbody>
                </table>
        </section> <br>
        <section class="content">
            <div class="content-box">
                <h1>Add New Medication</h1>
                <div class="form">
                    <form th:action="@{/pet/medication/create}" th:object="${medication}" method="post">

                        <label><b>Medication:</b></label>
                        <select th:field="*{illness}">
                            <option th:each="illness : ${illnessList}" th:value="${illness}"
                                th:text="${illness}" type="text">
                            </option>
                        </select><br />

                        <label for="medicationGiven"><b>Medication Given on</b></label>
                        <input type="date" th:field="*{medicationGiven}" name="medicationGiven" class="required" required>

                        <button type="submit" class="submit">ADD MEDICATION</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    </section>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <div class="copyright">
                    &copy; Kenny Cheng-Fung. All rights reserved.
                </div>
                <i class="fa-solid fa-shield-cat"></i>
            </div>

        </div>
    </footer>

    <script src="/../button_switch.js"></script>
</body>

</html>