<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET-ME: Medication</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/../secondary.css">

    <script src="https://kit.fontawesome.com/5e7463fc0b.js" crossorigin="anonymous"></script>
</head>

<body class="medication-body">
    <div class="page-wrapper">
        <header class="navbar">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <a href="/"> PET-ME </a>
                <i class="fa-solid fa-shield-cat"></i>
            </div>
            <div class="menu">
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <a href="/benefits">Benefits</a>
                <a href="/mission">Mission</a>
                <a href="/contact">Contact</a>
                <a href="" id="dashboardLink"></a>
            </div>
            <button class="log-in" id="loginButton"><a href="">Button</a></button>
        </header>

        <section class="content">
            <div class="content-box">
                <h1>Your Pet's Medications</h1>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Species</th>
                            <th>See Medications</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="animal : ${animals}">
                            <td>[[${animal.id}]]</td>
                            <td>[[${animal.name}]]</td>
                            <td>[[${animal.species}]]</td>
                            <td>
                                <a th:href="@{/pet/medication/create/{id}(id=${animal.id})}"><i class="fa-solid fa-file-prescription"></i> See medications for ID: [[${animal.id}]] [[${animal.name}]]</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </section>
    </div>
    </section>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <div class="copyright">
                    &copy; Kenny Cheng-Fung. All rights reserved.
                </div>
                <i class="fa-solid fa-shield-cat"></i>
            </div>

        </div>
    </footer>

    <script src="/../button_switch.js"></script>
</body>

</html>