<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="secondary.css">

    <script src="https://kit.fontawesome.com/5e7463fc0b.js" crossorigin="anonymous"></script>
    <title>PET-ME: Mission</title>
</head>

<body class="mission-body">
    <div class="page-wrapper">
        <header class="navbar">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <a href="/">  PET-ME  </a>
                <i class="fa-solid fa-shield-cat"></i>
            </div>
            <div class="menu">
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <!-- <a href="/mission">Mission</a> -->
                <a href="/benefits">Benefits</a>
                <a href="/contact">Contact</a>
                <a href="#">Blogs</a>
            </div>
            <button class="log-in"><a href="/register">Login / Register</a></button>
        </header>

        <section class="content">
            <div class="content-box">
            <h1>Our Mission</h1>
            <p>Our mission is simple: simplify pet pawrenthood. Our lives are already busy and often hectic. Let PET-ME help
                you manage your pet's
                health. With PET-ME, you will be able to update your pet's health records and it will automatically set a
                reminder for when
                you should schedule your pet's next vet appointment. You can also learn about what the medication that was
                administered would
                help prevent and what kind of possible side-effects to be in the look out for.</p>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <div class="copyright">
                    &copy; Kenny Cheng-Fung. All rights reserved.
                </div>
                <i class="fa-solid fa-shield-cat"></i>
            </div>

        </div>
    </footer>
</body>

</html>