<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET-ME: Pet Profile</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/../secondary.css">

    <script src="https://kit.fontawesome.com/5e7463fc0b.js" crossorigin="anonymous"></script>
</head>

<body class="petprofile-body">
    <div class="page-wrapper">
        <header class="navbar">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <a href="/"> PET-ME </a>
                <i class="fa-solid fa-shield-cat"></i>
            </div>
            <div class="menu">
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <a href="/benefits">Benefits</a>
                <a href="/mission">Mission</a>
                <a href="/contact">Contact</a>
                <a href="" id="dashboardLink"></a>
            </div>
            <button class="log-in" id="loginButton"><a href="">Button</a></button>
        </header>

        <section class="content">
            <div class="content-box">
                <h1>My Pets</h1>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Species</th>
                            <th>Breed</th>
                            <th>Age</th>
                            <th>Color</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="animal : ${animals}">
                            <td>[[${animal.id}]]</td>
                            <td>[[${animal.name}]]</td>
                            <td>[[${animal.species}]]</td>
                            <td>[[${animal.breed}]]</td>
                            <td>[[${animal.age}]]</td>
                            <td>[[${animal.color}]]</td>
                            <td>
                                <a th:href="@{/pet/update/{id}(id=${animal.id})}"><i class="fa-solid fa-pen-to-square"></i>  Update</a>
                                <!-- th:text="${animal.name}" -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="back"><a href="/pet/features">GO BACK</a></button>
        </section> 
        <section class="content">
            <div class="content-box">
                <h1>Add new Member to the Family</h1>
                <div class="form">
                    <form th:action="@{/pet/create}" th:object="${animal}" method="post">

                        <label><b>Species:</b></label>
                        <select th:field="*{species}">
                            <option th:each="s : ${speciesList}" th:value="${s}" th:text="${#strings.capitalize(s.toString())}">
                            </option>
                        </select><br />

                        <label for="name"><b>Pet's Name</b></label>
                        <input type="text" th:field="*{name}" name="name" class="required" required>

                        <label for="breed"><b>Pet's Breed</b></label>
                        <input type="text" th:field="*{breed}" name="breed">

                        <label for="age"><b>Pet's Age</b></label>
                        <input type="number" th:field="*{age}" name="age">

                        <label for="color"><b>Pet's Color(s)</b></label>
                        <input type="text" th:field="*{color}" name="color">

                        <button type="submit" class="submit">ADD TO FAMILY</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <div class="copyright">
                    &copy; Kenny Cheng-Fung. All rights reserved.
                </div>
                <i class="fa-solid fa-shield-cat"></i>
            </div>

        </div>
    </footer>

    <script src="/../button_switch.js"></script>
</body>

</html>