<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET-ME: Pet Profile</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/../secondary.css">

    <script src="https://kit.fontawesome.com/5e7463fc0b.js" crossorigin="anonymous"></script>
</head>

<body class="petprofile-body">
    <div class="page-wrapper">
        <header class="navbar">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <a href="/"> PET-ME </a>
                <i class="fa-solid fa-shield-cat"></i>
            </div>
            <div class="menu">
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <a href="/benefits">Benefits</a>
                <a href="/mission">Mission</a>
                <a href="/contact">Contact</a>
                <a href="" id="dashboardLink"></a>
            </div>
            <button class="log-in" id="loginButton"><a href="">Button</a></button>
        </header>

        <section class="content">
            <div class="content-box">
                <h1>Your Pet's Profile</h1>
                <div class="form">
                    <form th:action="@{/pet/update}" th:object="${animal}" method="post">

                        <label for="name"><b>Pet's Name</b></label>
                        <input type="text" th:field="*{name}" name="name" class="required" required>

                        <label for="breed"><b>Pet's Breed</b></label>
                        <input type="text" th:field="*{breed}" name="breed">

                        <label for="age"><b>Pet's Age</b></label>
                        <input type="number" th:field="*{age}" name="age">

                        <label for="color"><b>Pet's Color(s)</b></label>
                        <input type="text" th:field="*{color}" name="color">

                        <input type="hidden" th:field="${id}" />
                        <button type="submit" class="submit">UPDATE</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="logo">
                <i class="fa-solid fa-shield-dog"></i>
                <div class="copyright">
                    &copy; Kenny Cheng-Fung. All rights reserved.
                </div>
                <i class="fa-solid fa-shield-cat"></i>
            </div>

        </div>
    </footer>

    <script src="button_switch.js"></script>
</body>

</html>