<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PET-ME: User Actions</title>
  <link rel="stylesheet" href="user_actions.css">

  <script src="https://kit.fontawesome.com/5e7463fc0b.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Logo Navbar -->
  <nav class="navbar">
    <div class="logo">
      <i class="fa-solid fa-shield-dog"></i>
      <span>Welcome back to PET-ME:
        <div th:if="${user.isPresent()}">
          <span th:text="${user.get().email}"></span>
        </div>
      </span>
      <i class="fa-solid fa-shield-cat"></i>
    </div>
    <div class="menu">
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/vision">Vision</a>
      <a href="#">contact</a>
      <a href="#">blogs</a>
    </div>
    <button class="log-out"><a href="/logout">Logout</a></button>

    <div class="menu-btn">
      <i class="fa-solid fa-bars"></i>
    </div>
  </nav>

  <div class="container">
    <div id="about" class="section">
      <div class="content">
        <h1>About Us</h1>
        <p>The founder of PET-ME is a volunteer at the <a href="https://www.nycacc.org" target="_blank">NYC's Animal
            Care Centers</a>
          where he started as a dog walker, adoption councelor, and outreach advocate. In 2020, when COVID-19 affected
          opperations at
          the shelter, volunteers where not allowed to be in the premises to assist. He then started fostering and that
          was how he
          ended up adopting his pitbull dog, <a href="https://www.instagram.com/theFrizziest/" target="_blank">Miss
            Frizzle</a> (named
          after the cartoon "The Magic School Bus").</p>

        <p>Once the pandemic was slightly under control and vaccines where more widely available, Kenny wanted to be
          closer to the community
          and assist in the areas most affected. He then switched roles to be an animal handler for the shelter's mobile
          vaccination clinics.
          An animal handler is the person who restrains the animal while the veterinary doctor administers the vaccines
          to the pet. This
          is to ensure that the animal does not attach nor bite any personnel during the vaccination. </p>

        <p>Surprisingly, he noticed that many of the pets would miss their annual (or bi-annual in some cases) vaccines.
          *Et voila* Why not
          create something that will help pet pawrents track and remind them of their pet's vaccines and medications? I
          mean... Us humans
          have Apple Health. So why not create the "Apple Health" equivalent for pets?</p>

      </div>
      <div class="overlay"></div>
    </div>
    <div id="mission" class="section">
      <div class="content">
        <h1>Our Mission</h1>
        <p>Our mission is simple: simplify pet pawrenthood. Our lives are already busy and often hectic. Let PET-ME help
          you manage your pet's
          health. With PET-ME, you will be able to update your pet's health records and it will automatically set a
          reminder for when
          you should schedule your pet's next vet appointment. You can also learn about what the medication that was
          administered would
          help prevent and what kind of possible side-effects to be in the look out for.</p>
      </div>
      <div class="overlay"></div>
    </div>
    <div id="commitment" class="section">
      <div class="content">
        <h1>Our Commitment</h1>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
  <div class="container">
    <div id="benefits" class="section">
      <div class="content">
        <h1>Benefits of using PET-ME</h1>
        <p>With Pet-Me, you can:</p>
        <ul>
          <li>Keep all your pet's health information, appointments, medications, and vaccinations in one secure place.
          </li>
          <li>Set reminders for vet visits and medications, so you never miss an important appointment or dose.</li>
          <li>Access a treasure trove of pet care resources and educational materials, ensuring you're well-informed in
            every aspect of pet health.</li>
          <li>Connect with a loving community of fellow pet owners, sharing experiences and supporting one another.</li>
        </ul>
      </div>
      <div class="overlay"></div>
    </div>
    <div id="future" class="section">
      <div class="content">
        <h1>Future Plans</h1>
      </div>
      <div class="overlay"></div>
    </div>
    <div id="contact" class="section">
      <div class="content">
        <h1>Contact Us</h1>
        <p>Questions or suggestions? We're here for you! Reach out to us at <a href="mailto:kchengfung@gmail.com">this
            email</a> and let's collaborate to ensure the best for your beloved pets.</p>
        <p>Thank you for choosing Pet-Me as your trusted pet care partner!</p>
      </div>
      <div class="overlay"></div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content">
      <div class="logo">
        <i class="fa-solid fa-shield-dog"></i>
        <div class="copyright">
          &copy; Kenny Cheng-Fung. All rights reserved.
        </div>
        <i class="fa-solid fa-shield-cat"></i>
      </div>

    </div>
  </footer>
</body>

</html>