<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PET-ME: User Dashboard</title>
  <link rel="stylesheet" href="user_dashboard.css">

  <script src="https://kit.fontawesome.com/5e7463fc0b.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Logo Navbar -->
  <nav class="navbar">
    <div class="logo">
      <i class="fa-solid fa-shield-dog"></i>
      <a href="/"> PET-ME </a>
      <i class="fa-solid fa-shield-cat"></i>
    </div>
    <div class="menu">
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/benefits">Benefits</a>
      <a href="/mission">Mission</a>
      <a href="/contact">Contact</a>
      <!-- <a href="" id="dashboardLink"></a> -->
    </div>
    <button class="log-in" id="loginButton"><a href="">Button</a></button>

    <div class="menu-btn">
      <i class="fa-solid fa-bars"></i>
    </div>
  </nav>

  <div class="container">
    <div id="profile" class="section">
      <div class="content">
        <h1>My Profile</h1>
        <p>Here you can edit your profile information.</p>
      </div>
      <div class="overlay"></div>
    </div>

    <div id="welcome" class="section">
      <div class="content">
        <h1>Welcome</h1>
        <!-- <div th:if="${user.email.isPresent()}"> -->
        <span th:text="${user.get().email}"></span>
        <!-- </div> -->
        <p>We missed you!</p><br>
        <p><i class="fa-solid fa-left-long"></i> Make sure your profile info is up-to-date</p><br>
        <p>Check your furry friend's profile and vaccine records <i class="fa-solid fa-right-long"></i></p>
      </div>
      <div class="overlay"></div>
    </div>

    <div id="pet" class="section">
      <div class="content">
          <a href="/medication">
          <h1>Your Pet's Profile</h1>
          <p>Here you can edit your pet's profile and manage their vaccine records.</p>
        </a>
        </div>
    <div class="overlay"></div>
  </div>
  </div>

  <!-- <div class="container">
    <div id="benefits" class="section">
      <div class="content">
        <h1>Benefits of using PET-ME</h1>
        <p>content here</p>
      </div>
      <div class="overlay"></div>
    </div>

    <div id="future" class="section">
      <div class="content">
        <h1>Future Plans</h1>
      </div>
      <div class="overlay"></div>
    </div>

    <div id="contact" class="section">
      <div class="content">
        <h1>Contact Us</h1>
        <p>Questions or suggestions? We're here for you! Reach out to us at <a href="mailto:kchengfung@gmail.com">this
            email</a> and let's collaborate to ensure the best for your beloved pets.</p>
        <p>Thank you for choosing Pet-Me as your trusted pet care partner!</p>
      </div>
      <div class="overlay"></div>
    </div>
  </div> -->

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content">
      <div class="logo">
        <i class="fa-solid fa-shield-dog"></i>
        <div class="copyright">
          &copy; Kenny Cheng-Fung. All rights reserved.
        </div>
        <i class="fa-solid fa-shield-cat"></i>
      </div>

    </div>
  </footer>

  <script src="button_switch.js"></script>
</body>

</html>